
<div class="col-md-6 offset-md-3 mt-3">
  <div class="card " style="background-color: #e2e2e2; height: 600px;">
      <div class="container text-center mb-5 mt-3">
  <h3>Student Details</h3>
  </div>
  <div class="container">
  <div class="field mb-3">
  
  <label><b> Name :</b></label> {{student.firstname}}
  
  </div>
  <div class="field mb-3">
  
      <label><b>Last Name :</b></label> {{student.lastname}}
      
      </div>
      <div class="field mb-3">
  
          <label><b>Email :</b></label> {{student.email}}
          
          </div>
          <div class="field mb-3">
  
            <label><b>Year :</b></label> {{student.year}}
            
            </div>
            <div class="field mb-3">
  
              <label><b>Program :</b></label> {{student.program}}
              
              </div>
  
  </div>
  </div>
  </div>